<!DOCTYPE html>
<html>
<div class="span7">  
            		<ul class="nav nav-tabs" >
    					<li style="padding: 0 30px;"><%= link_to 'About', about_profiles_path%></li>    				
    					<li style="padding: 0 30px;"><a href="#messages" data-toggle="tab">Posts</a></li>
    					<li style="padding: 0 30px;"><a href="#settings" data-toggle="tab">Photos</a></li>
    					<li style="padding: 0 30px;"><a href="#settings" data-toggle="tab">Videos</a></li>
    					<li style="padding: 0 30px;"><a href="#" data-toggle="tab">Events</a></li>
    				</ul>   
    			</div>
</html>