<button class="btn btn-info" type="button"><%= link_to "LIST", firstpage_events_path, :style=>"text-decoration: none;" %></button>
<button class="btn btn-info" type="button"><%= link_to "+CREATE EVENT", events_path, :style=>"text-decoration: none;"%></button>
<button class="btn btn-info" type="button"><i class="icon-calendar"></i>&nbsp<%= link_to "MY CALENDAR", showcalender_events_path, :style=>"text-decoration: none;" %></button>
</br>
</br>
<div id='calendar'>
</div>