#outer 
  {
    float:left;
    margin-left:30px;
    margin-top:0px;
    border:1px solid;
    width:500px;
    height:400px;
    background-color:#C0DFEC;
    padding-left: 60px;
    padding-top: 10px;
   
  }
.option-large {
  width: 70px ;
}

#showtab
{
  float:right;
  border:1px solid;
  font-color:white;
  background-color:#3A99C2;
  margin-right:25px;
  margin-top:0px;
}


