#login_form {
    position : absolute;
    top :50px;
    left :900px;
    height: 400px;
    width:300px;
    padding:2px;
    border:5px double #c60;
    color:#333;
    text-align:center;
    cursor:hand;
 }
